<a href="https://colab.research.google.com/github/Nattakonjpg/BasicProg_DataViz65/blob/main/Copy_of_Midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive ## google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
import os

In [5]:
Unit = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_unittype.csv')

In [6]:
rent = pd.read_csv('/content/drive/My Drive/dataviz_2022/Midterm/opendata_volume_listing_rent.csv')

In [7]:
project = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_project.csv')

In [8]:
eat = pd.read_csv('/content/drive/MyDrive/dataviz_2022/Midterm/opendata_eating_score.csv')

##ลบค่า Missing

In [9]:
unit1=Unit.dropna(subset=['row_number','unittype_id','project_id','propertytype_id','propertytype_name_en','propertytype_name_th'])

In [10]:
project1=project.dropna(subset=['project_id','name_th','propertytype_id','propertytype_name_th','developer_id',])

In [11]:
rent1=rent.dropna(subset=['row_number','transction_year','transction_month','listing_province_name_th','listing_district_name_th','project_propertytype_name_th','volume_of_rental'])

In [12]:
eat1=eat.dropna(subset=['row_number','subdistrict_id','subdistrict_name_th','district_id','district_name_th','province_id','province_name_th','eating_daytime','eating_daytime_price','eating_daytime_variety','eating_nighttime_variety'])

**Midterm**
- หาพื้นที่ (district_name)  ที่มีจำนวนโครงการเยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
- โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)
- ราคาเฉลี่ยของโครงการ ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) ของประเทศไทย (5 คะแนน)
- พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด (7 คะแนน)
- (เฉพาะ กรุงเทพมหานคร) เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) (10 คะแนน)
- แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด (13 คะแนน)

##ข้อ 1 หาพื้นที่ (district_name)  ที่มีจำนวนโครงการ(name_th)เยอะที่สุดและมีความต้องการเช่าเยอะที่สุด (5 คะแนน)
เปรียบเทียบ หาพท.โครงการเยอะสุด
- groupby 
- เรียงว่าอันไหนเยอะสุด
- ถ้าไม่ตรงกัน พื้นที่จัตุจักรมีโครงการเยอะสุด แต่สีลมต้องการเช่าเยอะสุด

In [13]:
dataall = project1.merge(eat1, left_on='row_number', right_on='row_number')
dataall.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source_y,day
0,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,66.0,58.0,68.0,72.0,64.0,49.0,68.0,70.0,baania,2022-08-31
1,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,49.0,72.0,27.0,60.0,48.0,62.0,20.0,59.0,baania,2022-08-31
2,270.0,5efc3cb4bc2af40019402f74,Golden Valley Assumption-Sriracha,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,1,Detached House,บ้าน,2590000.0,developer_10510,NaN,...,70.0,84.0,57.0,77.0,73.0,72.0,61.0,80.0,baania,2022-08-31
3,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,56.0,84.0,30.0,63.0,57.0,69.0,29.0,69.0,baania,2022-08-31
4,258.0,5e5e04d435e8160012b45527,Chanothai Sukhonthasawat 8,ชโนทัย สุคนธสวัสดิ์ 8,3,Townhome,ทาวน์โฮม,6990000.0,developer_10657,"Chanothai Estate Co., Ltd.",...,71.0,74.0,69.0,74.0,65.0,60.0,60.0,71.0,baania,2022-08-31

In [14]:
dataall2 =dataall.merge(rent1, left_on='row_number', right_on='row_number')
dataall2.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day_y
0,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,2020,5,กรุงเทพมหานคร,BANGKOK,บางกอกใหญ่,BANGKOK YAI,คอนโด,Condo,11,2022-08-31
1,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,2019,10,กรุงเทพมหานคร,BANGKOK,ประเวศ,PRAWET,คอนโด,Condo,169,2022-08-31
2,270.0,5efc3cb4bc2af40019402f74,Golden Valley Assumption-Sriracha,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,1,Detached House,บ้าน,2590000.0,developer_10510,NaN,...,2021,2,กรุงเทพมหานคร,BANGKOK,สวนหลวง,PHATTHANAKAN,คอนโด,Condo,58,2022-08-31
3,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,2021,11,กรุงเทพมหานคร,BANGKOK,พญาไท,PHAYA THAI,คอนโด,Condo,219,2022-08-31
4,258.0,5e5e04d435e8160012b45527,Chanothai Sukhonthasawat 8,ชโนทัย สุคนธสวัสดิ์ 8,3,Townhome,ทาวน์โฮม,6990000.0,developer_10657,"Chanothai Estate Co., Ltd.",...,2019,2,กรุงเทพมหานคร,BANGKOK,คลองสาน,KHLONG SAN,คอนโด,Condo,61,2022-08-31

In [15]:
dataall2.groupby("district_name_th_y")[["name_th"]].max().sort_values(by=["name_th"], ascending=False)#_y = ชื่อพื้นที่ทั่วประเทศ ทีมีโครงการเยอะสุด
ans_1_1 = dataall2.groupby("district_name_th_y")[["name_th"]].max().reset_index().sort_values(by=["name_th"], ascending=False)
ans_1_1

    district_name_th_y                          name_th
73               วัฒนา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
70             ลำลูกกา  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
102     เมืองเชียงใหม่  ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
15            ตลิ่งชัน  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
99          เมืองระยอง  ไอลีฟ พาร์ค วงแหวน-รังสิตคลอง 4
..                 ...                              ...
93          เกาะจันทร์           บ้านพฤกษา ราชพฤกษ์-345
4            คลองสามวา                     บ้านทวีทอง 1
30               บางนา                      บ้านกมลแก้ว
80           สันป่าตอง              บีทีเอส เรสซิเด้นซ์
27         บางขุนเทียน               บิสพอยท์ 4 ไทวัสดุ

[106 rows x 2 columns]

In [16]:
ans_1_1.iloc[0, 0]

'วัฒนา'

In [17]:
dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().sort_values(by=["volume_of_rental"], ascending=False) #_y = ชื่อพื้นที่ที่มีความต้องการเช่ามากสุด
ans_1_2 = dataall2.groupby("district_name_th_y")[["volume_of_rental"]].max().reset_index().sort_values(by=["volume_of_rental"], ascending=False)
ans_1_2

   district_name_th_y  volume_of_rental
97      เมืองปทุมธานี              3996
34            บางพลัด              3484
95        เมืองนครปฐม              3122
54              พญาไท              2782
74            ศรีราชา              2401
..                ...               ...
20            ธัญบุรี                31
7            คันนายาว                28
89            หนองแขม                27
68           ลาดพร้าว                21
10             ดอนตูม                11

[106 rows x 2 columns]

In [18]:
ans_1_2.iloc[[0]]

   district_name_th_y  volume_of_rental
97      เมืองปทุมธานี              3996

In [19]:
print(f'พื้นที่ที่มีโครงการเยอะที่สุด คือ {ans_1_1.iloc[0, 0]} โครงการที่เยอะที่สุดคือ {ans_1_1.iloc[0, 1]} ')
print(f'แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ {ans_1_2.iloc[0, 0]} จำนวนความต้องการเช่า = {ans_1_2.iloc[0, 1]}  ')

พื้นที่ที่มีโครงการเยอะที่สุด คือ วัฒนา โครงการที่เยอะที่สุดคือ ไอลีฟ ไพร์ม วงแหวน-รังสิตคลอง 4
แต่พื้นที่ที่มีความต้องการเช่ามากที่สุด คือ เมืองปทุมธานี จำนวนความต้องการเช่า = 3996

##ข้อ 2 โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด (5 คะแนน)

In [20]:
dataall3 = dataall2.merge(unit1, left_on='row_number', right_on='row_number')
dataall3

,row_number,project_id_x,name_en,name_th_x,propertytype_id_x,propertytype_name_en_x,propertytype_name_th_x,price_min_x,developer_id,developer_name_en,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created_y,date_updated_y,source,url_unittype
0,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,1.0,1.0,NaN,1.0,NaN,2021-11-12 13:34:24,2021-11-09 18:18:05,baania,https://baania.com/th/project/พนาสนธิ์-การ์เด้...
1,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:46,2020-10-14 19:47:23,baania,https://baania.com/th/project/เศรษฐสิริ-ราชพฤก...
2,270.0,5efc3cb4bc2af40019402f74,Golden Valley Assumption-Sriracha,โกลเด้น วัลเลย์ อัสสัมชัญ-ศรีราชา,1,Detached House,บ้าน,2590000.0,developer_10510,NaN,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:20:49,2020-10-14 00:57:20,baania,https://baania.com/th/project/ฟิวส์-จันทน์-สาท...
3,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:46:27,2020-10-14 23:34:16,baania,https://baania.com/th/project/อรินสิริ-ปาร์ค-พ...
4,258.0,5e5e04d435e8160012b45527,Chanothai Sukhonthasawat 8,ชโนทัย สุคนธสวัสดิ์ 8,3,Townhome,ทาวน์โฮม,6990000.0,developer_10657,"Chanothai Estate Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:46:02,2020-10-14 23:05:26,baania,https://baania.com/th/project/บ้านเอเอ-6364/ทา...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
549,361.0,project_4839,Baan Ratchakron,บ้านรัชกร,3,Townhome,ทาวน์โฮม,1700000.0,developer_10510,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:47:19,2020-10-16 16:39:17,baania,https://baania.com/th/project/บ้านพิบูลย์-บางซ...
550,192.0,project_1524,The Pluris Khaoyai,เดอะ พลูริส เขาใหญ่,1,Detached House,บ้าน,3400000.0,developer_1368,"Phuthanarat Co., Ltd.",...,1.0,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:21:18,2020-10-14 01:01:31,baania,https://baania.com/th/project/สวนทิพย์คอนโดมิเ...
551,234.0,project_580,Baan Thepprathanporn Niwhet,บ้านเทพประทานพรนิเวศน์,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:53,2021-03-10 14:04:24,baania,https://baania.com/th/project/เดอะเพ้นท์-งามวง...
552,134.0,5ecde130292ffd0019214c07,Rungaroon Ville Wat Som Kliang,รุ่งอรุณ วิลล์ วัดส้มเกลี้ยง,1,Detached House,บ้าน,4200000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,2021-11-12 13:24:17,2020-10-14 22:50:40,baania,https://baania.com/th/project/ไพรเวท-เลค-การ์เ...
553,262.0,5e955dc79f161600121b5604,Lumpini Place Chaengwatthana - Pakkret Station,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2,Condo,คอนโด,2000000.0,developer_1745,"L.P.N.Development PCL Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:37:04,2020-10-14 00:41:10,baania,https://baania.com/th/project/บ้านพฤกษา-12-625...

In [21]:
dataall3[dataall3['volume_of_rental']==dataall3['volume_of_rental']][['district_name_th_x','volume_of_rental','price_min_x','name_th_x']].sort_values(by="volume_of_rental", ascending=False)

,district_name_th_x,volume_of_rental,price_min_x,name_th_x
84,เมืองอุบลราชธานี,3996,1800000.0,บ้านชานเมืองอุบล
187,พานทอง,3484,1670000.0,เพชรธารา พานทอง-อมตะ
255,วังทองหลาง,3122,8500000.0,บ้านราชพงษา
409,สะพานสูง,2782,8000000.0,ลัดดารมย์ รามคำแหง
201,ประเวศ,2401,5000000.0,บ้านมิตรภาพ 2
...,...,...,...,...
221,บ้านฉาง,11,2100000.0,บ้านสายลมเย็น 3
148,ภาษีเจริญ,11,4100000.0,เดอะ ฟลอร่า เพชรเกษม 48
121,เมืองปทุมธานี,11,4600000.0,ทาวน์สแควร์
119,บางละมุง,11,1450000.0,เดอะ แกรนด์ จอมเทียน บีช พัทยา
0,พานทอง,11,0.0,แสนรัก 9 ศุขประยูร หนองกระทุ่ม

In [22]:
ans2 = dataall3[dataall3['volume_of_rental']==dataall3['volume_of_rental']][['district_name_th_x','volume_of_rental','price_min_x','name_th_x']].sort_values(by="volume_of_rental", ascending=False)
ans2

,district_name_th_x,volume_of_rental,price_min_x,name_th_x
84,เมืองอุบลราชธานี,3996,1800000.0,บ้านชานเมืองอุบล
187,พานทอง,3484,1670000.0,เพชรธารา พานทอง-อมตะ
255,วังทองหลาง,3122,8500000.0,บ้านราชพงษา
409,สะพานสูง,2782,8000000.0,ลัดดารมย์ รามคำแหง
201,ประเวศ,2401,5000000.0,บ้านมิตรภาพ 2
...,...,...,...,...
221,บ้านฉาง,11,2100000.0,บ้านสายลมเย็น 3
148,ภาษีเจริญ,11,4100000.0,เดอะ ฟลอร่า เพชรเกษม 48
121,เมืองปทุมธานี,11,4600000.0,ทาวน์สแควร์
119,บางละมุง,11,1450000.0,เดอะ แกรนด์ จอมเทียน บีช พัทยา
0,พานทอง,11,0.0,แสนรัก 9 ศุขประยูร หนองกระทุ่ม

In [23]:
print(f'โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด  คือ {ans2.iloc[0,3]} มีราคาอยู่ที่ {ans2.iloc[0,2]} ความต้องการเช่า = {ans2.iloc[0,1]} ')

โครงการที่แพงที่สุดในพื้นที่ที่มีความต้องการเช่าสูงที่สุด  คือ บ้านชานเมืองอุบล มีราคาอยู่ที่ 1800000.0 ความต้องการเช่า = 3996

##ข้อ 3 ราคาเฉลี่ยของโครงการ(1) ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety)  (2) ของประเทศไทย (5 คะแนน)
- ตารางอาหารการกิน groupby มี max สุดในอาหารการกินแล้วก็เลือกเฉพาะย่านนั้น
- mean

In [ ]:
x = eat1[['row_number','subdistrict_name_th','eating_daytime_variety']] #เลือก column พื้นที่ , อาหารการกินกลางวัน , ราคาของโครง
x.sort_values('eating_daytime_variety',ascending=0) # ได้ย่านที่มีการกินหลากหลายสุดในกลางวัน

In [ ]:
c =x[x['subdistrict_name_th']=='ท่าประดู่']
c #ได้ย่านที่มีความหลากหลายสูงสุด

In [ ]:
z=project1[['row_number','name_th','price_min']] #หาโครงการที่มีราคาแพงสุดที่อยู่ในสุดนั้น
z

In [ ]:
D_all = z.merge(x, left_on='row_number', right_on='row_number') #ตารางที่มีย่าน และมีโครงการ
D_all

In [79]:
D_all2 =D_all[D_all['subdistrict_name_th']=="ท่าประดู่"][['name_th','price_min']].mean()
D_all2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

price_min    5000000.0
dtype: float64

In [81]:
print(f'ราคาเฉลี่ยของโครงการ(1) ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety)  (2) ของประเทศไทย = {D_all2}')

ราคาเฉลี่ยของโครงการ(1) ที่อยู่ในย่าน (subdistrict) ที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety)  (2) ของประเทศไทย = price_min    5000000.0
dtype: float64

## ข้อ 4 พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด
- หาความต้องการเช่ามากสุด 
- เอาพื้นที่นั้น groupby มีแบบบ้าน.countmax() แบบไหนมากสุด

In [ ]:
Rent_0 = rent1[['row_number','listing_district_name_th','volume_of_rental',]]
Rent_0

In [ ]:
pro_0 = project[['row_number','propertytype_name_th']]
pro_0

In [99]:
D_all4= Rent_0.merge(pro_0, left_on='row_number', right_on='row_number')
D_all4

,row_number,listing_district_name_th,volume_of_rental,propertytype_name_th
0,1324,จตุจักร,702,บ้าน
1,136,บางกอกน้อย,33,ทาวน์โฮม
2,310,ปากเกร็ด,22,ทาวน์โฮม
3,1570,บางรัก,104,บ้าน
4,1063,พระนคร,11,คอนโด
...,...,...,...,...
1873,1585,บางคอแหลม,23,ทาวน์โฮม
1874,351,ราชเทวี,103,บ้านแฝด
1875,694,เมืองนนทบุรี,100,คอนโด
1876,633,หลักสี่,14,บ้าน
1877,899,ลำลูกกา,23,คอนโด

In [ ]:
ans_D_all = D_all4.groupby('listing_district_name_th')[["volume_of_rental"]].max()
ans_D_all.sort_values('volume_of_rental',ascending=0) #วัฒนาคือพท เช่ามากสุด

In [ ]:
B = D_all4[['listing_district_name_th','propertytype_name_th']]
B

In [ ]:
C = B[B['listing_district_name_th']=='วัฒนา']
C

In [103]:
D = C.groupby('propertytype_name_th').count()
D

                      listing_district_name_th
propertytype_name_th
คอนโด                                       14
ทาวน์โฮม                                    12
บ้าน                                        17
บ้านแฝด                                      1
อาคารพาณิชย์                                 2
โฮมออฟฟิศ                                    1

In [105]:
print(f'พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด คือ {D.iloc[2:3]}')

พื้นที่ ที่มีความต้องการเช่ามากที่สุด คือพื้นที่ใด และพื้นที่นั้นมีชนิดของบ้าน แบบไหนมากที่สุด คือ                       listing_district_name_th
propertytype_name_th
บ้าน                                        17

##ข้อ 5 (เฉพาะ กรุงเทพมหานคร) เปรียบเทียบราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด (eating_nighttime_price) กับ ย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด (eating_nighttime_price) 
- เปรียบเทียบราคา หาสองส่วน 
- โครงการที่แพงสุดในย่าน groupby subdisrict
  - หาอาหารการกินช่วงไหนราคาสูงสุด groupby mean -> sort รู้ย่าน หาในตารางโครงการ merge unit
- groupby ย่านหา mean ย่านที่ต่ำสุด
  - หาอาหารการกินช่วงไหนราคาสูงสุด groupby mean -> sort รู้ย่าน

In [ ]:
project_2 = project1[['row_number','name_th','price_min']]
eat_2 = eat1[['row_number','subdistrict_name_th','province_name_th','eating_nighttime_price']]
D_all5= project_2.merge(eat_2, left_on='row_number', right_on='row_number')
D_all5 #ได้ตาราง

In [ ]:
D_bkk = D_all5[D_all5["province_name_th"]=='กรุงเทพมหานคร']
D_bkk # ได้เฉพาะกรุงเทพ

In [126]:
BKK_1 = D_bkk.groupby('subdistrict_name_th')[['eating_nighttime_price','name_th','price_min','subdistrict_name_th']].max().sort_values('eating_nighttime_price',ascending=0)
BKK_1

,eating_nighttime_price,name_th,price_min,subdistrict_name_th
subdistrict_name_th,,,,
ลำต้อยติ่ง,100.0,วิลล่า สราสินี รีสอร์ท แอท โฮม,5890000.0,ลำต้อยติ่ง
ทุ่งครุ,87.0,ทิพาคาร 1,427000.0,ทุ่งครุ
กระทุ่มราย,86.0,ลุมพินี เพลส แจ้งวัฒนะ - ปากเกร็ด สเตชั่น,2000000.0,กระทุ่มราย
หนองแขม,85.0,บ้านกลางสวน บางละมุง,1700000.0,หนองแขม
หนองค้างพลู,85.0,เดอะโฮม อ้อมค่าย,1890000.0,หนองค้างพลู
...,...,...,...,...
ทุ่งมหาเมฆ,54.0,เฟื่องฟ้า คอนโดเทล,890000.0,ทุ่งมหาเมฆ
คลองเตย,54.0,เดอะ ซีซั่น วัลเล่ย์,1950000.0,คลองเตย
บางรัก,52.0,เอ็กซ์เท็น คอนโดมิเนียม ราชมงคล,1200000.0,บางรัก
คลองตัน,51.0,บ้านพฤกษา 62 (เทพารักษ์-กิ่งแก้ว),899000.0,คลองตัน
ลุมพินี,46.0,บ้านกลางเมือง สวิสทาวน์,4500000.0,ลุมพินี

In [131]:
print(f'ราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด คือ {BKK_1.iloc[0:1,0:4]}')

ราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาสูงที่สุด คือ                      eating_nighttime_price                         name_th  \
subdistrict_name_th
ลำต้อยติ่ง                            100.0  วิลล่า สราสินี รีสอร์ท แอท โฮม

                     price_min subdistrict_name_th
subdistrict_name_th
ลำต้อยติ่ง           5890000.0          ลำต้อยติ่ง

In [132]:
print(f'ราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด คือ {BKK_1.iloc[156:,0:4]}')

ราคาโครงการที่แพงที่สุดในย่าน (subdistrict)ที่ราคาของอาหารการกินในช่วงกลางคืนที่ราคาต่ำที่สุด คือ                      eating_nighttime_price                  name_th  \
subdistrict_name_th
ลุมพินี                                46.0  บ้านกลางเมือง สวิสทาวน์

                     price_min subdistrict_name_th
subdistrict_name_th
ลุมพินี              4500000.0             ลุมพินี

## ข้อ 7 แสดงย่านที่ อาหารการกินมีความหลากหลายที่สุดในช่วงกลางวัน (eating_daytime_variety) และ กลางคืน (eating_nighttime_variety) ของแต่ละจังหวัด 
- groupby จังหวัด
- sort อาหารการกินช่วงกลางวันแต่ละจังหวัด ย่านไหนมากสุด
- sort อาหารการกินช่วงกลางคืนแต่ละจังหวัด ย่านไหนมากสุด